{#
  Zoomerplanning - Logiciel de gestion des ressources humaines
  Copyright (C) 2025 RevivalSoft
  
  Ce programme est un logiciel libre ; vous pouvez le redistribuer et/ou
  le modifier selon les termes de la Licence Publique Générale GNU publiée
  par la Free Software Foundation Version 3.
  
  Ce programme est distribué dans l'espoir qu'il sera utile,
  mais SANS AUCUNE GARANTIE ; sans même la garantie implicite de
  COMMERCIALISATION ou D’ADÉQUATION À UN BUT PARTICULIER. Voir la
  Licence Publique Générale GNU pour plus de détails.
  
  Vous devriez avoir reçu une copie de la Licence Publique Générale GNU
  avec ce programme ; si ce n'est pas le cas, voir
  https://www.gnu.org/licenses/
#}

{% extends 'base_okr.html.twig' %}

{% block title %}Éditer un Objectif
{% endblock %}

{% block body %}
	<div class="container py-5">
		<h2 class="text-center fw-bold mb-4">✏️ Modifier un Objectif</h2>

		{% form_theme form 'bootstrap_5_layout.html.twig' %}
		<div class="card shadow-sm mx-auto" style="max-width: 800px;">
			<div class="card-body">
				{{ form_start(form) }}

				<div class="row g-4">
					<div class="col-md-6">
						{{ form_row(form.title) }}
					</div>
					<div class="col-md-6">
						{{ form_row(form.description) }}
					</div>
					<div class="col-md-6">
						{{ form_row(form.startDate) }}
					</div>
					<div class="col-md-6">
						{{ form_row(form.endDate) }}
					</div>
					<div class="row g-3">
						<div class="col-md-6">
							<div class="form-check">
								<label class="form-check-label fw-semibold" for="{{ form.isClosed.vars.id }}">
									{{ form_widget(form.isClosed, {'attr': {'class': 'form-check-input'}}) }}
																						🔒
								</label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-check">
								<label class="form-check-label fw-semibold" for="{{ form.isPublic.vars.id }}">
									{{ form_widget(form.isPublic, {'attr': {'class': 'form-check-input'}}) }}
																						🌐
								</label>
							</div>
						</div>
					</div>

				</div>

				<div class="d-flex justify-content-between mt-4">
					<a href="{{ path('objective_index') }}" class="btn btn-outline-secondary">
						<i class="bi bi-arrow-left"></i>
						Retour à la liste
					</a>
					<button class="btn btn-success">
						<i class="bi bi-save"></i>
						Mettre à jour
					</button>
				</div>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
