{% extends 'base_okr.html.twig' %}

{% block title %}Nouvel Objectif
{% endblock %}

{% block body %}
	<div class="container py-5">
		<h2 class="text-center fw-bold mb-4">🆕 Créer un nouvel objectif</h2>

		{% form_theme form 'bootstrap_5_layout.html.twig' %}
		<div class="card shadow-sm mx-auto" style="max-width: 800px;">
			<div class="card-body">
				{{ form_start(form) }}

				<div class="row g-4">
					<div class="col-md-6">
						{{ form_row(form.title) }}
					</div>
					<div class="col-md-6">
						{{ form_row(form.description) }}
					</div>
					<div class="col-md-6">
						{{ form_row(form.startDate) }}
					</div>
					<div class="col-md-6">
						{{ form_row(form.endDate) }}
					</div>
					<div class="col-12">
						<div class="border rounded bg-light p-3">
							<h5 class="fw-bold mb-3">Paramètres de visibilité</h5>
							<div class="row">
								<div class="row g-3">
									<div class="col-md-6">
										<div class="form-check">
											<label class="form-check-label fw-semibold" for="{{ form.isClosed.vars.id }}">
												{{ form_widget(form.isClosed, {'attr': {'class': 'form-check-input'}}) }}
																																																			🔒
											</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-check">
											<label class="form-check-label fw-semibold" for="{{ form.isPublic.vars.id }}">
												{{ form_widget(form.isPublic, {'attr': {'class': 'form-check-input'}}) }}
																																																				🌐
											</label>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between mt-4">
					<a href="{{ path('objective_index') }}" class="btn btn-outline-secondary">
						<i class="bi bi-arrow-left"></i>
						Retour à la liste
					</a>
					<button class="btn btn-success">
						<i class="bi bi-check-circle"></i>
						Enregistrer
					</button>
				</div>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
