{% extends 'base_planning_gantt.html.twig' %}

{% block title %}Planning
{% endblock %}


{% block body %}
	<style>
		/* Conteneur pour gérer le scroll */
		.table-container {
			width: 100%;
			overflow-x: auto;
		}


		/* Fixe la première colonne */
		th.tdplanningres,
		th.thplanningmarge,
		td.tdplanningres {
			position: sticky;
			left: 0;
			z-index: 10; /* Suffisant pour être au-dessus */
			background-color: white;
			border: 1px solid black;
		}
		th.thplanningmarge {
			background-color: grey;
			z-index: 30;
		}

		/* Fixe l'en-tête en haut */
		thead th {
			position: sticky;
			top: 0;
			z-index: 20; /* Doit être au-dessus du reste */
			/* background-color: grey; */
			border: 1px solid black;
		}

		/* Uniformisation des bordures */
		td.tdplanning,
		th.thplanning {
			border: 1px solid black;
			background-clip: padding-box;
		}

		@media print {
			/* Masquer les éléments non imprimables */
			.no-print,
			.btn,
			.modal,
			.modal-content,
			select,
			input[type="radio"],
			input[type="checkbox"],
			input[type="button"],
			input[type="submit"],
			textarea,
			button {
				display: none !important;
			}
			.table-wrapper {
				width: 100% !important;
				min-width: unset !important;
			}
			table {
				width: 100% !important;
				table-layout: auto !important;
			}
			.table-container {
				overflow: visible !important;
			}
			html,
			body {
				overflow: visible !important;
			}
		}
	</style>


	<div style="background: yellow; padding: 10px;" class="text-center mb-3 no-print">
		<button class="btn btn-primary" onclick="window.print()">
			🖨️ Imprimer le planning
		</button>
	</div>


	{% set idplan = 0 %}
	{% set incremnombreressources = 1 %}

	{# // début modal #}

	<div id="myModal" class="modal" style="display:none;">
		<div class="modal-content" style="width:60%;">
			<div id="nomressource"></div>
			<div id="fonctionressource"></div>
			<div id="numligne"></div>
			<div id="date"></div>

			<div id="sigle"></div>

			<hr/>

			<div style="text-decoration: underline">Note :</div>
			<div id="note"></div>

			<div id="taskinfo" style="font-style: italic; color: #333; margin-top:0.5em;"></div>

			<hr/>
			<button id="fermer" class="btn btn-secondary">Fermer</button>
		</div>
	</div>

	{# // fin modal #}

	{% set increm = 1  %}

	{# calculs en début de template #}
	{% set prevYear = an - 1 %}
	{% set nextYear = an + 1 %}

	{# le mois précédent et son année #}
	{% set prevMonth  = (mois == 1 ? 12 : mois - 1) %}
	{% set prevMonthY = (mois == 1 ? an - 1 : an) %}

	{# le mois suivant et son année #}
	{% set nextMonth  = (mois == 12 ? 1 : mois + 1) %}
	{% set nextMonthY = (mois == 12 ? an + 1 : an) %}

	<div class="planning">
		<center>
			<h3 style="font-weight:bold">{{ moisencours }}
				{{ an }}</h3>
			<p>


				<div class="d-flex justify-content-center flex-wrap gap-3 my-3">
					<a href="{{ path('app_planning_gantt', { project: project.id,mois: mois, an: prevYear }) }}" class="btn btn-outline-secondary px-4 py-2">🗓️ -1 an</a>

					<a href="{{ path('app_planning_gantt', { project: project.id,mois: prevMonth, an: prevMonthY }) }}" class="btn btn-outline-secondary px-4 py-2">
						⬅️ Mois précédent</a>


					<a href="{{ path('app_planning_gantt', { project: project.id,mois: nextMonth, an: nextMonthY }) }}" class="btn btn-outline-secondary px-4 py-2">Mois suivant ➡️</a>


					<a href="{{ path('app_planning_gantt', { project: project.id,mois: mois, an: nextYear }) }}" class="btn btn-outline-secondary px-4 py-2">+1 an 🗓️</a>
				</div>
				{# div pour colonne de gauche fixe #}
				<div class="table-container">

					<table style="width:100%">
						<thead>
							<tr>
								<th class="thplanningmarge" rowspan="2"></th>
								{% for i in range(1,nombrejoursmois) %}
									{% if i == today %}
										<th class="thplanning" style="background-color:yellow">{{ i }}</th>
									{% else %}
										<th class="thplanning">{{ i }}</th>
									{% endif %}
								{% endfor %}
							</tr>
							<tr>
								{% for i in tabjour %}
									{% if (i == 'SA') or (i == 'DI') or (increm in tabjf) %}
										<th class="thplanningferie">{{ i }}</th>
									{% else %}
										<th class="thplanning">{{ i }}</th>
									{% endif %}
									{% set increm = increm + 1 %}
								{% endfor %}
							</tr>
						</thead>
					</tr>
				</thead>
				<tbody>
					{% for ressource in ressources %}
						{% set incremnombreressources = incremnombreressources + 1 %}
						{% set idres=ressource.id %}
						{% set ligne = 1 %}
						<tr>
							{# La première ligne traite le rowspan de la 1ère colonne #}
							<th class="tdplanningres" id="r{{ ressource.id }}" rowspan={{nombrelignespublic + 1}} style="font-size:smaller" title="{{ ressource.fonction }}">{{ ressource.nom }}</th>

							{% for i in range(1,nombrejoursmois) %}

								{% set note =  planningnote[idres][ligne][i] %}
								{% set idplan = planningidplan[idres][ligne][i] %}

								{# note soulignement #}
								{% set ud = "none" %}

								{% if note|length > 0 %}
									{% set ud = "underline" %}
								{% endif %}

								<td class="tdplanning" id="{{ ressource.id }}-{{ i }}-{{ ligne }}-{{ idplan }}-{{ mois }}-{{ an }}" style="text-decoration: {{ ud }};text-align:center;background-color: {{ planningcf[idres][ligne][i]}};color:{{ planningct[idres][ligne][i]}} " title="{{ note }}">{{ plannings[idres][ligne][i] }}</td>

							{% endfor %}
						</tr>
						{% if nombrelignespublic > 1 %}
							{% for ligne in range (2,nombrelignespublic) %}
								<tr>

									{% for i in range(1,nombrejoursmois) %}

										{% set note = planningnote[idres][ligne][i]  %}
										{% set idplan = planningidplan[idres][ligne][i]  %}

										{# note soulignement #}
										{% set ud = "none" %}

										{% if note|length > 0 %}
											{% set ud = "underline" %}
										{% endif %}

										<td class="tdplanning" id="{{ ressource.id }}-{{ i }}-{{ ligne }}-{{ idplan }}-{{ mois }}-{{ an }}" style="text-decoration:{{ ud }};text-align:center;background-color:{{ planningcf[idres][ligne][i]}};color:{{ planningct[idres][ligne][i]}}" title="{{ note }}">{{ plannings[idres][ligne][i] }}</td>

									{% endfor %}
								</tr>

							{% endfor %}

						{% endif %}

						{# ligne du Gantt #}
						<tr>
							{% set ganttLine = nombrelignespublic + 1 %}
							{% for i in 1..nombrejoursmois %}
								{% set dayTasks = planningGantt[ressource.id][i] | default([]) %}

								{% if dayTasks|length == 1 %}
									{% set task = dayTasks[0] %}
									{# <td class="tdplanning gantt-cell text-center" id="{{ ressource.id }}-{{ i }}-{{ ganttLine }}-0-{{ mois }}-{{ an }}" data-task-id="{{ task.id }}" data-task-name="{{ task.name }}" data-task-start="{{ task.start }}" data-task-end="{{ task.end }}" style="background-color: {{ taskColors[task.id] }}; color:white;">●</td> #}
									<td class="tdplanning gantt-cell text-center" id="{{ ressource.id }}-{{ i }}-{{ ganttLine }}-{{ task.id }}-{{ mois }}-{{ an }}" data-task-id="{{ task.id }}" data-task-name="{{ task.name }}" data-task-start="{{ task.start|date('Y-m-d') }}" data-task-end="{{ task.end|date('Y-m-d') }}" style="background-color: {{ taskColors[task.id] }}; color:white;">
										●
									</td>
								{% elseif dayTasks|length > 1 %}
									<td class="tdplanning gantt-cell text-center" style="background-color:rgb(226,22,49);color:white;" title="{{ dayTasks|length }} tâches chevauchantes">
										<span style="color:yellow; font-size:1.2em;">▲</span>
									</td>

								{% else %}
									<td class="tdplanning gantt-cell text-center" id="{{ ressource.id }}-{{ i }}-{{ ganttLine }}-0-{{ mois }}-{{ an }}" style="background-color:white;color:white;">-</td>
								{% endif %}
							{% endfor %}
						</tr>


						{# Si on opte pour la ligne des dates en tête de chaque ressource #}
						{% if numjourentreressources == 1 and incremnombreressources <= nombreressources %}
							<tr>
								<th class="thplanningmarge" rowspan="2"></th>
								{% for i in range(1,nombrejoursmois) %}
									{% if i == today %}
										<th class="thplanning" style="width:3%;background-color:yellow">{{ i }}</th>
									{% else %}
										<th class="thplanning" style="width:3%">{{ i }}</th>
									{% endif %}
								{% endfor %}
							</tr>
							<tr>
								{% set increm =  1 %}
								{% for i in tabjour %}
									{% if (i == 'SA') or (i == 'DI') or (increm in tabjf) %}
										<th class="thplanningferie">{{ i }}</th>
									{% else %}
										<th class="thplanning">{{ i }}</th>
									{% endif %}
									{% set increm = increm + 1 %}
								{% endfor %}
							</tr>
						{% endif %}
						{# Fin option numjourentreressources #}
					{% endfor %}
				</tbody>
			</p>
		</table>
	</div>
</p></center></div>{% endblock %}
