{% extends 'base_admin.html.twig' %}

{% block title %}Journal
{% endblock %}

{% block body %}
	<div class="container py-5">
		<h2 class="text-center fw-bold mb-4">📊 Générer un fichier CSV</h2>

		<div class="card shadow-sm mx-auto" style="max-width: 500px;">
			<div class="card-body">
				{{ form_start(form) }}

				<div class="mb-3">
					{{ form_label(form.start_date, null, {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.start_date, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="mb-3">
					{{ form_label(form.end_date, null, {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.end_date, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="text-center mt-4">
					<button type="submit" class="btn btn-warning text-white">
						<i class="bi bi-filetype-csv"></i>
						Générer le CSV
					</button>
				</div>

				{{ form_end(form) }}
			</div>
		</div>

		{% if newFileGenerated %}
			<div class="alert alert-success text-center mt-4">
				✅ Le fichier CSV est prêt.<br>
				<a href="{{ path('download_csv') }}" class="alert-link fw-semibold">📥 Télécharger le fichier CSV</a>
			</div>
		{% endif %}
	</div>
{% endblock %}
