{#
  Zoomerplanning - Logiciel de gestion des ressources humaines
  Copyright (C) 2025 RevivalSoft
  
  Ce programme est un logiciel libre ; vous pouvez le redistribuer et/ou
  le modifier selon les termes de la Licence Publique Générale GNU publiée
  par la Free Software Foundation Version 3.
  
  Ce programme est distribué dans l'espoir qu'il sera utile,
  mais SANS AUCUNE GARANTIE ; sans même la garantie implicite de
  COMMERCIALISATION ou D’ADÉQUATION À UN BUT PARTICULIER. Voir la
  Licence Publique Générale GNU pour plus de détails.
  
  Vous devriez avoir reçu une copie de la Licence Publique Générale GNU
  avec ce programme ; si ce n'est pas le cas, voir
  https://www.gnu.org/licenses/
#}

{% extends 'base_kanban.html.twig' %}

{% block title %}
	{{ is_edit ? 'Modifier' : 'Créer' }}
	une tâche
{% endblock %}

{% block body %}
	<div class="container py-5">
		<h2 class="text-center fw-bold mb-4">
			{{ is_edit ? '✏️ Modifier' : '➕ Créer' }}
			une tâche
		</h2>

		{% form_theme form 'bootstrap_5_layout.html.twig' %}

		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-6">
				<div class="card shadow-sm">
					<div class="card-body">
						{{ form_start(form) }}

						<div class="mb-3">
							{{ form_row(form.title) }}
						</div>

						<div class="mb-3">
							{{ form_row(form.description) }}
						</div>

						<div class="mb-4">
							{{ form_row(form.column) }}
						</div>

						<div class="d-flex justify-content-between">
							<a href="{{ path('kanban_index') }}" class="btn btn-outline-secondary">
								<i class="bi bi-x-circle"></i>
								Annuler
							</a>
							<button class="btn btn-primary">
								<i class="bi {{ is_edit ? 'bi-save' : 'bi-plus-circle' }}"></i>
								{{ is_edit ? 'Mettre à jour' : 'Créer' }}
							</button>
						</div>

						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
